*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 220, 220);
}
header{
    width: 100%;
}
.titolo-logo{
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    background-color: white;
    height: 50px;
    vertical-align:middle
}
h1{
    display: inline-block;
    padding-left: 55px;
    margin-top: 5px;
}
.container-retangolo{
    background: white;
    width: 1000px;
    height: 50px;
    margin: auto;
    margin-top: 35px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    
}
.add-task, .add-section{
    display: inline-block;
    border-radius: 8px;
    margin-top: 5px;
   font-size: 14px;
    
}
.add-task{
    background-color: rgb(75, 185, 236);
    border: 0px;
    color: white;
    width: 80px;
    height: 40px;
    margin-left: 40px;
    padding: 10px;
   
    
   
}
.add-section{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
    width: 120px;
    height: 40px;
    padding: 10px;
}
.container-quadrato{
    background: white;
    width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
       
}
.new-task{
    padding-left: 40px;
    
}
.today{
    padding-left: 40px; 
    margin-top: 20px;
}
.upcoming{
    padding-left: 40px; 
    margin-top: 20px;
}