*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 220, 220);
}
header{
    width: 100%;
}
.titolo-logo{
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    background-color: white;
    height: 50px;
    vertical-align:middle
}
h1{
    display: inline-block;
    padding-left: 55px;
    margin-top: 5px;
}
.container-retangolo{
    background: white;
    width: 1000px;
    height: 80px;
    margin: auto;
    margin-top: 35px;
}
.container-quadrato{
    background: white;
    width: 1000px;
    height: 1000px;
    margin: auto;
    margin-top: 3px;
}